<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{:: title}, ~{:: main}, _, ~{:: scripts})}">
<head>
    <title>Cadastro de usuário</title>
</head>
<body>
    <main>
        <div class="row">
            <div class="col">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">Cadastro de usuário</div>
                    </div>
                    <div class="card-body">
                        <form method="POST" th:object="${form}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="nomeCompleto">Nome completo</label>
                                        <input type="text" class="form-control" th:field="*{nomeCompleto}">
                                        <ul>
                                            <li class="text-danger" th:each="erro : ${#fields.errors('nomeCompleto')}" th:text="${erro}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="email">email</label>
                                        <input type="email" class="form-control alpha-no-spaces" th:field="*{email}">
                                        <ul>
                                            <li class="text-danger" th:each="erro : ${#fields.errors('email')}" th:text="${erro}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                            
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="senha">Senha</label>
                                        <input type="password" class="form-control" th:field="*{senha}">
                                        <ul>
                                            <li class="text-danger" th:each="erro : ${#fields.errors('senha')}" th:text="${erro}"></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="confirmacaoSenha">Confirmação da senha</label>
                                        <input type="password" class="form-control" th:field="*{confirmacaoSenha}">
                                        <ul>
                                            <li class="text-danger" th:each="erro : ${#fields.errors('confirmacaoSenha')}" th:text="${erro}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>                            
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:fragment="scripts">
        <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
        <script>$(document).ready(function(){
            $('.alpha-no-spaces').mask("A", {
                translation: {
                    "A": { pattern: /[\w@\-.+]/, recursive: true }
                }});
        });
    </script>
    </th:block>
</body>
</html>